<div id="trendingtopic">
<p id="notice"><%= notice %></p>

  <h2><%= @topic.title %></h2>
  <p><%= @topic.text %></p>


<%= link_to 'Edit', edit_topic_path(@topic) , :class => "buttons"%> |
<%= link_to 'Back', topics_path , :class => "buttons"%>

<h3>Comments</h3>
<%= render @topic.comments %>

<h4>New comment</h4>
<%= form_for [@topic, @topic.comments.build] do |f| %>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.collection_select(:user_id, User.all, :id, :username) %>
    <%# f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
