<div id="pagemenu">
  <%= link_to 'New group', new_group_path, :class => "newtopic" %>
</div>

<p id="notice"><%= notice %></p>
<div id="trendingtopic">
<h1>Listing Topics</h1>
  <% @groups.each do |group| %>
    <h2><%= group.title %></h2>
    <p><%= group.thumbnail %></p>
    <div id="readme">
      <p>
        <%= link_to 'Read more!', group , :class => "buttons" %>
        <%= link_to 'Edit', edit_group_path(group), :class => "buttons" %>
        <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, :class => "buttons" %>
      </p>
    </div>
  <% end %>
</div>
<br>
