<!DOCTYPE html>
<html>
<head>
  <title>Whooff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container">
  <header>
    <div id="logo">
      <%= image_tag 'whooff.png', :class => "logo" %>
    </div>
    <ul id="menu">
      <li><a href="<%= root_path %>">Home</a></li>
      <li><a href="<%= topics_path %>">Topics</a></li>
      <li><a href="<%= groups_path %>">Groups</a></li>
      <li><a href="./faq">FAQ</a></li>
    </ul>
  </header>
  <div id="nav">
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

<%= yield %>
	</section>
<footer>
  &copy; <%= Time.now.year %> Whooff
</footer>
</body>
</html>
